body {
  background-image: url(./assets/images/background.jpeg) !important;
}
.card-body {
  background-color: rgba(30, 198, 210, 0.742);
}
.container {
  background-color: rgb(76, 133, 194);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: auto;
  margin: auto;
}
.btn {
  background-color: blue;
}
#resume-btn {
  position: relative;
  bottom: 20px;
  left: 30px;
}
p {
  color: #000000;
}

.fontChange {
  font-family: "change" sans-serif;
}

#roundImg {
  border-radius: 5px;
  border: steelblue;
}
.card-header {
  background-color: #ff0000;
  color: white;
  text-align: center;
}
.Works {
  color: #ff0000;
}
.btn-primary {
  border: 2px solid #ff0000;
}

@media screen and (max-width: 500px) {
  h1 {
    float: none;
    margin: auto;
    text-align: center;
    border-style: none;
  }

  a {
    top: 0px;
    margin: auto;
  }

  nav {
    float: auto;
    margin-right: 0px;
  }
  #contact {
    margin: 0 auto;
    margin-top: 40px;
    background-color: #3fbaba;
  }
}
.textStyle {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 180%;
}
